In [13]:
import pandas as pd

data = pd.read_csv("data/daily_report.csv")

view = data[["Confirmed", "Deaths", "Recovered"]].sum()

print(type(view))

view

<class 'pandas.core.series.Series'>

Confirmed    660707542.0
Deaths         6691021.0
Recovered            0.0
dtype: float64

In [14]:
import pandas as pd

data = pd.read_csv("data/daily_report.csv")

view = data[["Confirmed", "Deaths", "Recovered"]].sum().reset_index()

print(type(view))

view

<class 'pandas.core.frame.DataFrame'>

       index            0
0  Confirmed  660707542.0
1     Deaths    6691021.0
2  Recovered          0.0

In [16]:
import pandas as pd

data = pd.read_csv("data/daily_report.csv")

view = data[["Confirmed", "Deaths", "Recovered"]].sum().reset_index(name="count")

view = view.rename(columns={'index':"condition"})

print(type(view))

view

<class 'pandas.core.frame.DataFrame'>

   condition        count
0  Confirmed  660707542.0
1     Deaths    6691021.0
2  Recovered          0.0